{% extends 'main/layoute.html' %}

{% block title %}
    <title>О компании</title>
{% endblock %}

{% block content %}
<div class="page-header">
    <h4>О компании FIV</h4>
</div>
<div class="page-content">
    <p>FIV была основана в 2010 году с целью предоставления высококачественных технологических решений. С тех пор мы расширили наш бизнес по всему миру, помогая тысячам клиентов добиваться успеха.</p>
    <p>Наша миссия — внедрять инновации и создавать ценность для наших клиентов. Мы гордимся нашей командой профессионалов, которые готовы принять вызовы и обеспечить превосходный результат.</p>
    <p>Наши основные ценности включают: качество, инновации и клиентоориентированность.</p>
</div>
{% endblock %}
