{% extends 'main/layoute.html' %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h4>Добро пожаловать в FIV!</h4>
    </div>
    <div class="page-content">
        <p>FIV - это компания, предоставляющая передовые решения в области технологий. Наша миссия — помогать нашим клиентам достигать их целей с помощью инновационных продуктов и услуг.</p>
        <p>На этой странице вы можете узнать больше о нашей компании и наших ценностях.</p>
        <p>Просмотрите другие страницы для получения дополнительной информации.</p>
    </div>
{% endblock %}
