{% extends 'main/layoute.html' %}

{% block title %}
    <title>Услуги</title>
{% endblock %}

{% block content %}
<div class="page-header">
    <h4>Наши услуги</h4>
</div>
<div class="page-content">
    <p>FIV предлагает широкий спектр услуг, включая:</p>
    <ul>
        <li><strong>Консалтинг по цифровым технологиям:</strong> Помогаем компаниям внедрять современные технологии для достижения их целей.</li>
        <li><strong>Разработка программного обеспечения:</strong> Создаем кастомные решения, соответствующие потребностям бизнеса.</li>
        <li><strong>Поддержка и обслуживание:</strong> Обеспечиваем надежную поддержку наших решений и помогаем с их дальнейшим развитием.</li>
    </ul>
</div>
{% endblock %}
